</head>
<body>
<nav>
  <!-- <img src="../images/targetIcon.jpg" alt="Icon" width="32" height="32"> -->
  <% if (user) { %>
    <a href="/goals" id="icon">
      <img src="/images/targetIcon.png" alt="targetIcon" width="50" height="40">
    </a>
    <p>Welcome, <%= user.username %>! </p>
    <!-- <a href="/users">Users</a> -->
    <a href="/auth/sign-out" class="auth-link">Sign out</a>
  <% } else { %>
    <img src="/images/targetIcon.png" alt="Icon" width="50" height="40">
    <a href="/auth/sign-up" class="auth-link">Sign up</a>
    <a href="/auth/sign-in"class="auth-link">Sign in</a>
  <% } %> 
</nav>