<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
    <main>
        <% if (user) { %>
   
        <form action="/goals">
            <button type="submit">Check You Goals List</button>
            <img src="../images/goal.jpeg" alt="goals">
        </form>

         <% } else{ %>
            <h1>Sign In to Manage Your Goals</h1>
            <img src="../images/goal.jpeg" alt="goals">

        <%}%>
    </main>
<%- include('./partials/footer') %>
