<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
    <main>
        <% if (user) { %>
   
        <form action="/goals">
            <button type="submit">Clich Here to Check You Goals List</button>
            <img src="../images/goalManage.png" alt="goals" id="userGoalImage" >
        </form>

         <% } else{ %>
            <h1>Click "Sign in" to Manage Your Goals</h1>
            <img src="../images/goal.jpg" alt="goals" id="guessGoalImage">

        <%}%>
    </main>
<%- include('./partials/footer') %>
