table {
    font-size: 20px;
    width:80%;
    border-collapse: collapse
  }

  table thead th {
    padding: 20px;
    background-color: #FFE4C4;

  }
  
  table th{
 
    border-bottom: 2px solid #C0C0C0;
  }


  table td {
    text-align: center;
    border-bottom: 2px solid #C0C0C0;
   
  }
  
  
  
  tr:hover {background-color: #FFE4C4;}

 #delete{
    width: 10px;
    background-color: transparent;
    border: none;
 } 

