table {
    font-size: 20px;
    width:80%;
    border-collapse: collapse
  }

  table thead th {
    padding: 20px;
    background-color: #FFD700;

  }
  
  table th{
 
    border-bottom: 2px solid #C0C0C0;
  }


  table td {
    text-align: center;
    border-bottom: 2px solid #C0C0C0;
   
  }
  
  
  
  tr:hover {background-color:#FFD700;}

 #delete{
    width: 10px;
    background-color: transparent;
    border: none;
 } 

 #btn * {
    width: 300px;
    height: 60px;
    font-size: 22px;
    background-color: #FFD700;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
  
}







